<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NASA Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>NASA Mars Weather</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get NASA Mars Data!</a></p>
    </div>

    <div class="d-flex flex-row-reverse">
        <div class="flex-column">  
          {% for item in listings %}
          {% if item.news_p %}
          <div class="col-sm-6">
              <h3>Latest Mars News</h3>
              <div class="caption">
                  <h3>{{item.news_p}}</h3>
              </div>
          </div>
          {% endif %}
          {% endfor %}
          {% for item in listings %}
            <div class="col-sm-6">
                {% if item.feature_img_url %}
                <div class="thumbnail">
                  <img src={{item.feature_img_url}} alt="Feature Image">
                       <h3 class="text-center">Featured Mars Image</h3>
                      <hr class="my-1">  
                 </div>
                 {% endif %}
            </div>
          {% endfor %}
          {% for item in listings %}
            <div class="col-sm-6">
                {% if item.mars_weather %}
                <div class="caption">
                    <h3>Current Weather on Mars</h3>  
                    <h3>{{item.mars_weather}}</h3>
                </div>
                {% endif %}
            </div>
          {% endfor %}
            <div class="col-sm-6">
              <table>
                <h3>Mars Facts</h3>
                {% for listitem in tablelistings: %}
                 {% for fact in listitem.items(): %}
                    {% if fact[0] != "_id" %}
                      <tr>
                          <th> {{ fact[0] }} </th>
                          <td> {{ fact[1] }} </td>
                      </tr>
                    {% endif %}
                 {% endfor %}
                {% endfor %}
              </table>
              <hr class="my-1">
             </div>
        </div>
         <div class="flex-column">
            <hr class="my-1">
            <h3 class="text-center">Mars Hemispheres</h3>
            <hr class="my-1">
            {% for item in listings %}
              <div class="col-sm-6">
                  {% if item.img_url %}
                  <div class="thumbnail">
                    <img src={{item.img_url}} alt={{item.title}}>
                  </div>
                  <div class="caption">
                    <h3>{{item.title}}</h3>
                  </div>
                  {% endif %}
               </div>
            {% endfor %}
        </div>
        
      </div>
  </div>
</body>

</html>

